@layout('layouts.app')

@section('title')
Iniciar Sesión
@endsection

@section('content')
<div class="container">
  <h2>Iniciar Sesión</h2>
  <form method='post' action='/login'>

  	{{ csrfField() }}
  	<input type='text' placeholder='Username' name='username'>
  	<input type='email' placeholder='Email' name='email'>
  	<input type='password' placeholder='Password' name='password'>
  	<button type='submit'>Login</button>
  </form>
</div>
@endsection