@layout('layouts.app')

@section('title')
Home
@endsection

@section('content')
<div class="container">
  <h2>PerritOS</h2>
  <a href="{{route('loginForm')}}" class="btn btn-info">Iniciar Sesion</a>
</div>
@endsection