@layout('admin.layouts.app')

@section('title')
{{category.name}}
@endsection

@section('content')
<div class="container p-3 bg-white border rounded">
	<h3>Categoria {{category.name}}
	</h3>
</div>
@endsection