@layout('admin.layouts.app')

@section('title')
Estado de Esterilización: {{sterilization.name}}
@endsection

@section('content')
<div class="container p-3 bg-white border rounded">
	<h3>Estado de Esterilización: {{sterilization.name}}
	</h3>
</div>
@endsection