@layout('admin.layouts.app')

@section('title')
Nuevo Tamaño
@endsection

@section('content')
<div class="container p-3 bg-white border rounded">
	<h3>Nuevo Tamaño</h3>
	<form action="{{route('size.store')}}" method="POST">
	  {{ csrfField() }}

	  <div class="form-group">
	    <label for="">Nombre</label>
	    <input type="text" name="name" class="form-control">
	  </div>

	  <input type="submit" value="Crear" class="btn btn-primary">
	</form>
</div>
@endsection

