@layout('admin.layouts.app')

@section('title')
{{variety.name}}
@endsection

@section('content')
<div class="container p-3 bg-white border rounded">
	<h3>Variedad {{variety.name}}
	</h3>
</div>
@endsection