@layout('admin.layouts.app')

@section('title')
{{state.name}}
@endsection

@section('content')
<div class="container p-3 bg-white border rounded">
	<h3>Estado {{state.name}}
	</h3>
</div>
@endsection