<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> 
    @!section('title') 
    | Voluntario PerritOS
  </title>
    <script src="{{ assetsUrl('js/app.js') }}" defer></script>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="{{ assetsUrl('css/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body style="background-color: #f4f5f6 !important;">

  <div class="wrapper">
      <!-- Sidebar  -->
      @include('voluntary.layouts.side')      

      <!-- Page Content  -->
      <div id="content">

          {{-- nav content --}}

          @include('voluntary.layouts.nav')

          {{-- /nav content --}}

          {{-- content --}}
          <main class="container-fluid py-1 px-2 my-3" >
              @if(flashMessage('notification'))
              <div class="alert alert-info" role="alert">
                {{flashMessage('notification')}}
              </div>
              @endif
              <div id='app'>
                  @!section('content')
              </div>
          </main>

          {{-- /content --}}

          
      </div>
  </div>
  <script>
      window.addEventListener('load', function() {
          $(document).ready(function () {
              $('#sidebarCollapse').on('click', function () {
                  $('#sidebar').toggleClass('active');
              });
          });

      })
      
  </script>
  @!section('js')
</body>
</html>
