<nav id="sidebar" class="side-admin">
    <div class="sidebar-header text-center">
        <a class="navbar-brand" href="/">
          <img src="/logo.png" class="rounded-circle" width="90"></a>
    </div>

    <ul class="list-unstyled components">
    	<li>
    	    <a href="">Panel</a>
    	</li>
    	<li>
    	    <a href="{{route('hostel.index')}}">Refugios</a>
    	</li>
    </ul>

</nav>