<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> 
    @!section('title') 
    | PerritOS
  </title>
    <script src="{{ assetsUrl('js/app.js') }}" defer></script>
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="{{ assetsUrl('css/app.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
  <div>
    @include("layouts.nav")
    <main class="mt-3">
      <div>
        @!section('content')
      </div>
    </main>
  </div>
  @!section('js')
</body>
</html>
